@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800&family=Padauk:wght@400;700&display=swap');

$font-family-sans-serif: 'Montserrat', 'Padauk', sans-serif;
$primary: #65f20d;
$danger: red;
$light: white;
$success: rgb(25, 235, 25);
$border-radius: 30px;


@import "../node_modules/bootstrap/scss/bootstrap";

.menu-item-link.active{
    background-color: $primary;
    border-radius: 10px;
    color:$light;
}